/* We Code Mobile First */

// An example to get you started with Bourbon and Neat

body {
	background-color: $bodybg; // variables are called from the vars.scss file
}

.wrapper {
	background-color: $rowbg;
}

.navbar {
	background-color: #95a5a6;
}